@page
@model RazorPagesPersonal.Pages.Predictions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="border-bottom border-white d-flex justify-content-center text-white fw-bold fst-italic">Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">
        <strong><em>
            Create New
        </em></strong>
    </a>
</p>
<form>
    <p>
        <select asp-for="Filter" asp-items="Model.Completed">
            <option value="">
                All
            </option>
        </select>
        <label>
            Question: 
            <input type="text" asp-for="SearchString"/>
        </label>
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead class="border-2 border-white bg-black text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Predictions[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predictions[0].Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predictions[0].Predictions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predictions[0].True)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predictions[0].WhenComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="border-2 border-white-50 bg-dark text-white-50">
@foreach (var item in Model.Predictions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predictions)
            </td>
            <td>
                <input type="checkbox" disabled @(item.True == true ? "checked" : "")/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenComplete)
            </td>
            <td class="d-flex justify-content-evenly align-content-center border-1 border-white">
                <button class="btn btn-primary">
                    <a class="text-decoration-none text-white" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </button>
                    |
                <button class="btn btn-info">
                    <a class="text-decoration-none text-white" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </button>
                    |
                <button class="btn btn-danger">
                    <a class="text-decoration-none text-white" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
